<form nz-form id="formularioLogin" [formGroup]="formularioCategoria" (ngSubmit)="crearCategoria()">
    <div class="row">
      <div class="col-lg-8">
        <label for="nombre">Nombre categoría <span class="required">*</span></label>
        <nz-form-item>
          <nz-form-control [appMensajesControlFormulario]="formularioCategoria.controls['nombre'].errors" id="control-nombre">
            <nz-input-group nzPrefixIcon="plus">
                <input nz-input id="nombre" type="text" formControlName="nombre" placeholder="Ingrese el nombre de la categoría" />
              </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="text-right">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Crear</button>
        </nz-form-control>
      </nz-form-item>
    </div>
</form>
<nz-divider nzVariant="solid"></nz-divider>
<div style="text-align: right">
  <button nz-button nzType="primary" class="tamano-boton-pequeno" id="carga-masiva-categoria" (click)="dialogoCargarArchivo.click()">Carga masiva categorías archivo .csv</button>
  <div class="text-right">
    <input type="file" #dialogoCargarArchivo style="display: none" (change)="cargaMasiva($event)" accept=".csv" />
  </div>
</div>
