<p>Productos del cliente </p>
<div style="text-align: right">
  <button nz-button nzType="primary" class="tamano-boton-pequeno"  id="descargar-productos" (click)="descargarProductos()">Descargar productos.xlsx</button>
</div>
<nz-table #editRowTable nzBordered [nzData]="productos" nzTableLayout="fixed" [nzLoading]="cargando">
  <thead>
    <tr>
      <th scope="col"><strong>Nombre</strong></th>
      <th scope="col"><strong>Precio</strong></th>
      <th scope="col"><strong>Stock</strong></th>
      <th scope="col"><strong>Nombre Categoría</strong></th>
      <th scope="col"><strong>Acciones</strong></th>
    </tr>
  </thead>
  <tbody>
    @for (productoListado of editRowTable.data; track productoListado) {
      <tr>
        @if (!productosEditablesCache[productoListado.id].editando) {
          <td>{{ productoListado.nombre }}</td>
          <td><i nz-icon nzType="dollar"></i> {{ productoListado.precio }}</td>
          <td>{{ productoListado.cantidad }}</td>
          <td><i nz-icon nzType="tag"></i>  {{ productoListado.categoria?.nombre }}</td>
          <td class="tabla-listado-acciones">
            <button nz-button nzType="link" (click)="iniciarEdicion(productoListado.id)">
              <i nz-icon nzType="edit" nz-tooltip="Modificar producto"></i>
            </button>
          </td>
        } @else {
          <td>
            <nz-input-group nzPrefixIcon="form">
              <input type="text" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.nombre" />
            </nz-input-group>
          </td>
          <td>
            <nz-input-group nzPrefixIcon="dollar">
              <input type="number" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.precio" />
            </nz-input-group>
          </td>
          <td>
            <nz-input-group nzPrefixIcon="calculator">
              <input type="number" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.cantidad" />
            </nz-input-group>
          </td>
          <td>{{ productosEditablesCache[productoListado.id].producto.categoria?.nombre }}</td>
          <td class="tabla-listado-acciones">
            <button nz-button nzType="link" class="save" 
              nz-popconfirm nzPopconfirmTitle="¿Desea aplicar los cambios al producto?"
              (nzOnConfirm)="guardarEdicion(productoListado.id)"
              (nzOnCancel)="cancelarEdicion(productoListado.id)">
                <i nz-icon nzType="save" nz-tooltip="Guardar cambios"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link"
              (click)="cancelarEdicion(productoListado.id)">
                <i nz-icon nzType="close-square" nz-tooltip="Cancelar edición"></i>
            </button>
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
