<p>Productos del cliente </p>
<nz-table #editRowTable nzBordered [nzData]="productos" nzTableLayout="fixed" [nzLoading]="cargando">
  <thead>
    <tr>
      <th scope="col"><strong>ID</strong></th>
      <th scope="col"><strong>Nombre</strong></th>
      <th scope="col"><strong>Precio</strong></th>
      <th scope="col"><strong>Stock</strong></th>
      <th scope="col"><strong>Nombre Categoría</strong></th>
      <th scope="col"><strong>Acciones</strong></th>
    </tr>
  </thead>
  <tbody>
    @for (productoListado of editRowTable.data; track productoListado) {
      <tr>
        @if (!productosEditablesCache[productoListado.id].editando) {
          <td>{{ productoListado.id }}</td>
          <td>{{ productoListado.nombre }}</td>
          <td>{{ productoListado.precio }}</td>
          <td>{{ productoListado.cantidad }}</td>
          <td>categoria</td>
          <td class="tabla-listado-acciones">
            <button nz-button nzType="link" (click)="iniciarEdicion(productoListado.id)">
              <i nz-icon nzType="edit" nz-tooltip="Modificar producto"></i>
            </button>
          </td>
        } @else {
          <td>{{ productosEditablesCache[productoListado.id].producto.id }}</td>
          <td>
            <nz-input-group nzPrefixIcon="form">
              <input type="text" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.nombre" />
            </nz-input-group>
          </td>
          <td>
            <nz-input-group nzPrefixIcon="dollar">
              <input type="number" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.precio" />
            </nz-input-group>
          </td>
          <td>
            <nz-input-group nzPrefixIcon="calculator">
              <input type="number" nz-input [(ngModel)]="productosEditablesCache[productoListado.id].producto.cantidad" />
            </nz-input-group>
          </td>
          <td>categoria</td>
          <td class="tabla-listado-acciones">
            <button nz-button nzType="link" class="save" nz-popconfirm nzPopconfirmTitle="¿Desea aplicar los cambios al producto?" (nzOnConfirm)="guardarEdicion(productoListado.id)">
              <i nz-icon nzType="save" nz-tooltip="Guardar cambios"></i>
            </button>
            <button nz-button nzType="link" (click)="cancelarEdicion(productoListado.id)">
              <i nz-icon nzType="close-square" nz-tooltip="Cancelar edición"></i>
            </button>
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
