<section class="header">
    <header>
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
  
          <div class="header__options d-flex align-items-center">
            <div class="logo">
              <a class="header__logo">
                <img src="images/icono-inventario.png" class="icono-inventario" alt="Gestion Inventarios">
              </a>
            </div>
            <div class="menu">
              <p><a style="text-decoration:none !important; font-size: 15px">Inicio</a></p>
            </div>
          </div>
  
          <!-- <div class="header__buttons d-flex">
            <div class="header__options d-flex align-items-center">
              <div class="user" *ngIf="(usuarioAutenticado | async) as usuarioAutenticado">
                <p id="nombreUsuario">Bienvenido <span>{{usuarioAutenticado.nombre}}</span></p>
                <p>
                  {{usuarioAutenticado.nombre}}
                </p>
                <p>
                  <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="#ffffff"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M8.146 11.354a.5.5 0 0 1 0-.708L10.793 8 8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 1 8z" />
                    <path fill-rule="evenodd"
                      d="M13.5 14.5A1.5 1.5 0 0 0 15 13V3a1.5 1.5 0 0 0-1.5-1.5h-8A1.5 1.5 0 0 0 4 3v1.5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5h-8A.5.5 0 0 1 5 13v-1.5a.5.5 0 0 0-1 0V13a1.5 1.5 0 0 0 1.5 1.5h8z" />
                  </svg>
                  <a class="text-light">Salida segura</a>
                </p>

                <div class="profile">
                    <ng-container *ngIf="usuarioAutenticado.id; else profileAdmin">
                        <img src="images/icono-empresa.png" alt="Usuario cliente">
                    </ng-container>
                    <ng-template #profileAdmin>
                        <img src="images/icono-admin.png" alt="Usuario admin">
                    </ng-template>
                  </div>
              </div>              
  
            </div>
          </div> -->
  
        </div>
      </div>
    </header>
  </section>
  