<form nz-form id="formularioCliente" [formGroup]="formularioCliente" (ngSubmit)="crearCliente()">
  <div class="row">
    <div class="col-lg-8">
      <label for="nombre">Nombre cliente <span class="required">*</span></label>
      <nz-form-item>
        <nz-form-control [appMensajesControlFormulario]="formularioCliente.controls['nombre'].errors">
          <nz-input-group nzPrefixIcon="contacts">
              <input nz-input id="nombre" type="text" formControlName="nombre" placeholder="Ingrese el nombre del cliente" />
            </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <label for="correo">Correo electrónico <span class="required">*</span></label>
      <nz-form-item>
        <nz-form-control [appMensajesControlFormulario]="formularioCliente.controls['email'].errors">
          <nz-input-group nzPrefixIcon="mail">
              <input nz-input id="correo" type="text" formControlName="email" placeholder="Ingrese el correo electrónico del cliente" />
            </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <label for="telefono">Teléfono</label>
      <nz-form-item>
        <nz-form-control [appMensajesControlFormulario]="formularioCliente.controls['telefono'].errors">
          <nz-input-group nzPrefixIcon="phone">
              <input nz-input id="telefono" type="text" formControlName="telefono" placeholder="Ingrese el teléfono del cliente" />
            </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <label for="username">Username <span class="required">*</span></label>
      <nz-form-item>
        <nz-form-control [appMensajesControlFormulario]="formularioCliente.controls['username'].errors" nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
              <input nz-input id="username" type="text" formControlName="username" placeholder="Ingrese el nombre de usuario" />
            </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <label for="password">Contraseña <span class="required">*</span></label>
      <nz-form-item>
        <nz-form-control [appMensajesControlFormulario]="formularioCliente.controls['password'].errors">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input id="password" type="password" formControlName="password" placeholder="Ingrese la contraseña" />
            </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="text-right">
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Crear</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
