<p>Clientes en el sistema</p>
<div class="tabla-container">
  <div style="text-align: right">
    <button nz-button nzType="primary" class="tamano-boton-pequeno" (click)="listarClientes()" id="btnRecargar">
      <i nz-icon nzType="sync" nz-tooltip="Consultar los clientes"></i>
    </button>
  </div>
  <nz-table #basicTable [nzData]="clientes" [nzBordered]="true" [nzPageSize]="8" [nzScroll]="{ y: '500px' }" [nzLoading]="cargando">
    <thead>
        <tr>
          <th scope="col"><strong>ID</strong></th>
          <th scope="col"><strong>Nombre</strong></th>
          <th scope="col"><strong>Correo electrónico</strong></th>
          <th scope="col"><strong>Teléfono</strong></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of basicTable.data; let i = index">
        <td [id]="'cliente-id-' + i">{{ cliente.id }}</td>
        <td [id]="'cliente-nombre-' + i"><i nz-icon nzType="contacts"></i> {{ cliente.nombre }}</td>
        <td [id]="'cliente-email-' + i">{{ cliente.email }}</td>
        <td [id]="'cliente-telefono-' + i">{{ cliente.telefono }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
