// General var
$font-general: 'arial',
'Helvetica Neue',
sans-serif;
$ubicacion: top,
right,
bottom,
left;
$Naranja-header: #F4A347;
$Naranja: #F2A552;
$Beige: #F2D1A3;
$Amarillo: #F2C252;
$Success: #1ecb85;
$Warning: #F56D11;
$Error: #fd5a6f;
$White: #fff;
$Black: #000;
$Border: rgba(129, 137, 169, 0.2);
$Border-gray: #dfdfdf;
$Shadow: rgba(114, 114, 114, 0.4);
$Bg-base: #f8f8f8;
$Gray: #8189a9;
$Gray-dark: #53565A;
$Label: #333333;
$line: #d5dfeb;
$even-table: #e3e4e3;
// End general var