<footer class="footer">
    <div class="container">
        <div class="footer__top">
        <div class="row justify-content-between">
            <div class="col-12 col-md order-2 order-md-1"> 
                <img src="images/icono-inventario.png" alt="Gestion Inventarios">
            </div>
        </div>
        </div>
        <div class="footer__bottom">
        <div class="d-flex justify-content-between">
            <p>© Copyright 2025</p> 
            <p>Reto <strong> Angular-PythonFastAPI </strong> </p>
        </div>
        </div>
    </div>
</footer>
